<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="Ts. Temuujin">
    <link rel="icon" href="favicon.ico">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-EmRcsPP774S9MOi4ywB+JXUWjYnBdyInMzG2XsC5siZEUpexqxOMJW358dCYEjPu" crossorigin="anonymous">
    <title>eRegistrar - Edit Student</title>
</head>
<body>
    <header th:replace="fragments/header :: header"></header>
<p>&nbsp;</p>
<main>
    <div style="padding-top: 1em;" class="container">
        <!-- main content here -->
        <h3>
            Student Update Form
        </h3>
        <hr>
        <form id="formStudent" action="/eregistrar/student/edit" method="post" th:object="${student}">
            <fieldset>
                <input name = "studentId" type="hidden" th:value="@{student.studentId}">
                <legend></legend>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="studentNumber">*Student Number:</label>
                            <input pattern="\d{3}-\d{2}-\d{4}" class="form-control" type="text" name="studentNumber" id="studentNumber" placeholder="000-61-0001" required th:value="${student.studentNumber}" autofocus>
                            <small class="form-text text-muted">Enter the Student ID Number, in the specified format</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="firstName">*First Name:</label>
                            <input class="form-control" type="text" name="firstName" id="firstName" placeholder="Enter First Name" required th:value="${student.firstName}">
                            <small class="form-text text-muted">Enter the Student's First Name</small>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="middleName">Middle Name:</label>
                            <input class="form-control" type="text" name="middleName" id="middleName" placeholder="Enter Middle Name" th:value="${student.middleName}">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="lastName">*Last Name:</label>
                            <input class="form-control" type="text" name="lastName" id="lastName" placeholder="Enter Last Name" required th:value="${student.lastName}">
                            <small class="form-text text-muted">Enter the Student's Last Name</small>
                        </div>
                    </div>                        
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="dateOfEnrollment">*Date of Enrollment:</label>
                            <input class="form-control" type="date" name="enrollmentDate" id="enrollmentDate" required 
                            th:field="${student.enrollmentDate}">
                            <small class="form-text text-muted">Enter the Student's Date of enrollment</small>
                        </div>
                    </div>                        
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="cgpa">CGPA:</label>
                            <input class="form-control" type="number" name="cgpa" id="cgpa" placeholder="e.g 3.78" step="0.01" th:value="${student.cgpa}">
                            <small class="form-text text-muted">Enter the Student's cgpa</small>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label>*Is International Student?</label><br>
                        <div class="form-group">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="option1" name="option1" class="custom-control-input" value="true" th:field="${student.isInternational}" th:checked="${student.isInternational == 1} ? ${true}">
                                <label class="custom-control-label" for="option1">Yes</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="option2" name="option2" class="custom-control-input" value="false" th:field="${student.isInternational}" th:checked="${student.isInternational == 0} ? ${true}">
                                <label class="custom-control-label" for="option2">No</label>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input required type="radio" name="radioIsInternational" id="radioIsInternationalYes" class="custom-control-input" value="1" th:checked="${student.isInternational == true} ? ${true}"  />
                                <label for="radioIsInternationalYes" class="custom-control-label">Yes</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input required type="radio" name="radioIsInternational" id="radioIsInternationalNo" class="custom-control-input" value="0" th:checked="${student.isInternational == false} ? ${true}" />
                                <label for="radioIsInternationalNo" class="custom-control-label">No</label>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="row">
                    <div style="text-align: right;" class="col-md-12">
                        <a class="std-lnk-btn" href="/eregistrar/student/list">Cancel</a>
                        <input class="std-btn btn btn-secondary btn-inline" type="reset" value="Reset">
                        <input class="std-btn btn btn-primary btn-inline" type="submit" value="Update Student">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>
