<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="Ts. Temuujin">
    <link rel="icon" href="favicon.ico">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-EmRcsPP774S9MOi4ywB+JXUWjYnBdyInMzG2XsC5siZEUpexqxOMJW358dCYEjPu" crossorigin="anonymous">
    <title>GDM - Create Supplier</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<p>&nbsp;</p>
<main>
    <div style="padding-top: 1em;" class="container">
        <!-- main content here -->
        <h3>
            Student Registration
        </h3>
        <hr>
        <form id="formStudent" action="/gdm/supplier/new" method="post" th:object="${supplier}">
            <fieldset>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="supplierNumber">*Supplier Number:</label>
                            <input class="form-control" type="text" name="supplierNumber" id="supplierNumber" placeholder="100001" required th:value="${supplier.supplierNumber}" autofocus>
                            <small class="form-text text-muted">Enter the Supplier</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="name">*Name:</label>
                            <input class="form-control" type="text" name="name" id="name" placeholder="Enter First Name" required th:value="${supplier.name}">
                            <small class="form-text text-muted">Enter the Supplier's Name</small>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="phone">Phone:</label>
                            <input class="form-control" type="text" name="phone" id="phone" placeholder="Enter Phone number" th:value="${supplier.phone}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div style="text-align: right;" class="col-md-12">
                        <a class="std-lnk-btn" href="/gmd/supplier/list">Cancel</a>
                        <input class="std-btn btn btn-secondary btn-inline" type="reset" value="Reset">
                        <input class="std-btn btn btn-primary btn-inline" type="submit" value="Add Supplier">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>
